# macOS
.DS_Store
**/.DS_Store

# VS Code
.vscode/
**/.vscode/

# JetBrains IDE
.idea/
**/.idea/

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
**/.venv/
**/venv/
**/env/

# Environment variables
.env
*.env

# Logs / temp files
*.log
*.tmp
*.swp

# Large non-source files
# *.xmind
*.zip
*.rar

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/
